.App {
	text-align: center;
}
.App img {
	width: 100%;
	height: auto;
}
.mo-main {
	display: none;
}

@media screen and (max-width: 768px) {
	.pc-main {
		display: none;
	}
	.mo-main {
		display: block;
	}
}
